.section-sidebar {
  border: 1px solid rgba(128, 128, 128, 0.477);
  border-radius: 0.5em;
  margin: 0.5em 0;
  padding: 1em;
  font-size: 0.8em;
  line-height: 1.1em;
}

.side-img {
  padding: 0;
  height: 80px;
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin-bottom: 1em;
}

.picture-profile-side {
  background-image: url("https://t3.ftcdn.net/jpg/03/53/11/00/360_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 4.5em;
  left: 1em;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

@media screen and (min-width: 992px) {
  .side-img {
    height: 60px;
  }

  .picture-profile-side {
    top: 2.5em;
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
}

.experiences-side {
  border: 1px dashed grey;
  border-radius: 0.5em;
  cursor: pointer;
  opacity: 75%;
}

.experiences-side:hover {
  cursor: pointer;
  opacity: 100%;
  border-style: double;
}

.connections:hover {
  cursor: pointer;
  text-decoration: underline;
}

.orange-square {
  display: inline-block;
  margin-right: 0.3em;
  border-radius: 0.2em;
  width: 1em;
  height: 1em;
  background: #c37d16;
  background: linear-gradient(
    50deg,
    rgba(195, 125, 22, 1) 50%,
    rgba(231, 163, 62, 1) 50%
  );
}

.premium-trial:hover {
  color: var(--myBlue);
  cursor: pointer;
}

.hover-underlined:hover {
  text-decoration: underline;
  cursor: pointer;
}
