input[type="file"] {
  display: none;
}

.custom-file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  /* padding: 6px 12px; */
  /* margin: 0.5em; */
  /* cursor: pointer; */
}

.icons-form {
  font-size: 1.5em;
  margin: 0.5em;
  cursor: pointer;
}
