.footer-link {
  color: #61615f;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s, color 0.2s;
  display: inline;
}
.footer-link:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.link {
  transition: color 0.2s;
  cursor: pointer;
}

.link:hover {
  background-color: rgb(237, 236, 236);
}
